body {
	background-color: #1B1B1B;
}

#carousel {
    width : 380px;
    height : 255px;
    margin: 0 auto;
    position : relative;
}

#carousel > * {
    position : absolute;
    top : 0;
    left : 0;
    bottom : 0;
    right : 0;
    transition: .25s ease-in-out;
    visibility: hidden;
}

#carousel > *:nth-child(-n+5) {
    visibility: visible;
}

#carousel > *:nth-child(1) {
    transform: scale3d(.8,.8,1) translateX(-130%);
    filter: blur(3px);
    z-index: 1;
}

#carousel > *:nth-child(2) {
    transform: scale3d(.9,.9,1) translateX(-65%);
    filter: blur(1px);
    z-index: 2;
}

#carousel > *:nth-child(3) {
    z-index: 3;
}

#carousel > *:nth-child(4) {
    transform: scale3d(.9,.9,1) translateX(65%);
    filter: blur(1px);
    z-index : 2;
}

#carousel > *:nth-child(5) {
    transform: scale3d(.8,.8,1) translateX(130%);
    filter: blur(1px);
    z-index : 1;
}

