* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #1B1B1B
}

#div1 {
	width: 800px;
	height: 150px;
	position: relative;
	margin: 100px auto;
	overflow: hidden; /* hidden很重要 */
}

/* 主容器 */
#div1 ul {
	width: 800px;
	height: 150px;
	position: relative;
}

/* 条目 */
#div1 ul li {
	height: 150px;
	float: left;
	list-style: none;
	padding-right: 20px;
}

#div1 ul li img {
	width: 200px;
	height: 150px;
	display: inline-block;
}

a {
	color: #B4B4B4;
}

